.container{max-width: 100%; margin-top: 50px;}

#results-container {width: 100%; height: 100%; padding: 5px;}

#display-toggle {width: 100%; height: 100%; margin: 25px 0 25px 0;}

#content-map-canvas {width: 100%; height: 700px; margin: 10px 0 10px 0; z-index: 10; display: block;}

#content-map-canvas img {max-width: none;}

#image-container .image-result {text-align: center;}

#image-container .image-result img {max-width: 90%; margin: 5% 0 5% 0;}

#content-background {display: none; position: fixed; height: 100%; width: 100%; top: 0; left: 0; background: #000000; z-index: 1000; }

#content-display {display: none; position: fixed; left: 30%; top: 5%; width: 100%; max-width: 40%; height: auto; background: #fdfdfd; z-index: 1003; color: #2b2b2b; padding: 2%; -moz-border-radius: 2%; -webkit-border-radius: 2%; border-radius: 2%; -khtml-border-radius: 2%;}

#content-display #close {margin: 0; cursor: pointer;}

#content-display img {width: 80%; margin: 0 10% 15px 10%;}

/* -- media queries -- */
@media (min-width: 320px) {
    .container{max-width: 90%;}
    #content-map-canvas {width: 90%; height: 700px; margin: 0 5% 0 5%;}
    #content-display {max-width: 80%; display: none; position: fixed; left: 10%; top: 5%;}
}

@media (min-width: 481px) {
    .container{max-width: 90%;}
    #content-map-canvas {width: 90%; height: 700px; margin: 0 5% 0 5%;}
    #content-display {max-width: 80%; display: none; position: fixed; left: 10%; top: 5%;}
}

@media (min-width: 768px) {
    #content-map-canvas {width: 90%; height: 700px; margin: 0 5% 0 5%;}
    #content-display {max-width: 80%; display: none; position: fixed; left: 10%; top: 5%;}
}

@media (min-width: 992px) {
    #content-display {max-width: 40%; display: none; position: fixed; left: 30%; top: 5%;}
}

@media (min-width: 3000px) {
    #content-display {max-width: 40%; display: none; position: fixed; left: 30%; top: 5%;}
}