<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

    <!-- begin header -->
    <head>

        <!-- begin meta -->
        <title>Searchstagram</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon" href="/static/images/icon.png">
        <!-- end meta -->

        <!-- begin css -->
        {% assets "css_all" %}
            <link href="{{ ASSET_URL }}" rel="stylesheet" />
        {% endassets %}

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.4/leaflet.ie.min.css" />
        <![endif]-->

        <!-- html5 shim and respond.js ie8 support of html5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <![endif]-->

        <!-- begin scripts -->
        <script type=text/javascript>
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    </head>
    <!-- end header -->

    <body>
        <div class="container">
            <div class="presentation">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </body>

    <!-- begin scripts -->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAtS1OYyuRY0inb23BK0nuGId3FiOC6Rb8&sensor=false&amp;libraries=places"></script>
    {% assets "js_libs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <!-- end scripts -->

</html>